<div class="container">
  <!-- Title Section -->
  <div class="title">
    <h1>Welcome to ColouAR!</h1>
    <p><b>**The site is temporarily on desktop only at this time.**</b></p>
    <p>To leave feedback, please fill out this form</p>

    <a class="dropdown-link" href="https://forms.gle/pxZnMxn3z6dFi7KB6">Website Feedback Form</a>
    <br><br>
  </div>

  <!-- YouTube Video Section -->
  <!-- <div class="iframe-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/watch?v=c5T7CjApfuA"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div> -->

  <!-- Image Section -->
  <div class="image-container">
    <img src="assets/images/example.png" alt="AR Coloring Page Screenshot" />
  </div>

  <!-- Button to toggle iframe visibility -->
  <button class="toggle-button" routerLink="/tutorial">
    {{ buttonText }}
  </button>
</div>
